* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(47, 47, 51);
}

#origin {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.point {
    position: absolute;
    z-index: 10;
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

#x {
    position: absolute;
    top: 49.9%;
    height: 1px;
    background-color: #fff;
}

#y {
    position: absolute;
    left: 49.9%;
    width: 1px;
    background-color: #fff;
}

#change {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

#change a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 24px;
    background-color: black;
    border-radius: 5px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

#change.active {
    display: flex;
}

#change a:hover {
    background-color: rgb(21, 31, 34);
}